/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat");
$base-font: "Montserrat", "Helvetica", "sans-serif";
$header-font: "Monserrat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
// $brand-color: #D23333;

$red: #EE5F5B;
$dark-red: #973961;
$blue: #301781;
$dark-blue: #1C44AC;
$yellow: #FAF15D;
$orange: #FB9935;
$green: #00AD7C;
$gray: #000000;
$gray-light: #333333;
$gray-dark: #666666;
$black: #000000;

$cat1: #22C7A9;
$cat2: #FF5200;
$cat3: #E41655;
$cat4: #04536C;
$cat5: #ADACA7;
$cat6: #FFCD38;
$cat7: #30E3CA;
