/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-grey{
  background: #f6f6f6;
}
.description-image {
  width: 40px;
}
.description-title {
  text-align: center;
  color: #311782;
  line-height: 100%;
}
.description-title img {
  vertical-align: middle;
  margin-right: 5px;
}

.description {
  text-align: center;
  overflow:hidden;
}
.description h1 {
  text-align: center;
}
.category-list {
  margin: 80px 0;
  text-align:center;
}
.list-category {
  width:350px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0;
  margin-bottom: 0;
}
