#show-user{
  padding:25px;
  margin-top: -120px;
  background:white;
  box-shadow: rgba(121, 121, 121, 0.35) 1px 10px 15px;
}
#show-user-2{
  padding:25px;
  // margin-top: -120px;
  background:white;
  box-shadow: rgba(121, 121, 121, 0.35) 1px 10px 15px;
}
