.sign_up_background {
  color: white;
  background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F7096%2Fpeople-woman-coffee-meeting.jpg%3Fw%3D1200%26h%3D627%26fit%3Dcrop%26auto%3Dcompress%26cs%3Dtinysrgb');
  background-size: cover;
}

#new_user_form {
  background-color: rgba(243,243,243,0.5);

}
