<section id="footer">
  <div class="wrapper">
    <div class="text-center">
      <h1 class="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo/logo-large.png" %>
        <% end %>
      </h1>
      <p>Learn what ever, whenever... that's it !</p>
      <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:learnup@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
  </div>
</section>
