// Your footer style
.background {
  // background-image: -webkit-linear-gradient(85deg, $light-blue 50%,  $gray-light 50%);
  min-height: 185px;
  padding: 50px;
}
#footer:before{
  background-color: $gray-light;
  transform: skewY(-3deg);
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #footer .logo img {
  width: 60px;
 }
 #footer p{
  color:$dark-blue;
 }
 #social-fb {
     color: $light-blue ;
 }
 #social-tw {
     color: $light-blue;
 }
 #social-gp {
     color: $light-blue;
 }
 #social-em {
     color: $light-blue;
 }
 #social-fb:hover {
     color: #301781;
 }
 #social-tw:hover {
     color: #301781;
 }
 #social-gp:hover {
     color: #301781;
 }
 #social-em:hover {
     color: #301781;
 }
