// Your footer style
.background {
  background-color: #FFFFFF;
  background-image: -webkit-linear-gradient(85deg, $light-blue 50%,  $gray-light 50%);
  min-height: 185px;
  padding: 50px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
/*
    Multicoloured Hover Variations
*/
 #social-fb {
     color: $gray-light;
 }
 #social-tw {
     color: $gray-light;
 }
 #social-gp {
     color: $gray-light;
 }
 #social-em {
     color: $gray-light;
 }
 #social-fb:hover {
     color: #301781;
 }
 #social-tw:hover {
     color: #301781;
 }
 #social-gp:hover {
     color: #301781;
 }
 #social-em:hover {
     color: #301781;
 }
strong {
  color: #76E2F4;
  transition: all 0.6s ease;
}
strong:hover {
  color: #301781;
}
