/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */
.alert,
.notice{
  // top: 40px;
  // position: fixed;
  // z-index: 2;
  // height: 40px;
  // width: 100%;
  // background-color: white;
  // color: $gray-dark;
}
.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
