.lesson-card{
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  box-shadow: rgba(121, 121, 121, .35) 1px 10px 15px;
  margin:19px;
  padding:0;
  cursor: pointer;
  width: 30%;
  outline: 0;
  text-align:right;
}
.lesson-card:hover{
  box-shadow: none;
}
.show-lesson{
  padding: 15px 15px;
  margin-bottom:0;
  text-align:center;
}
.lesson-card:hover .show-lesson{
  color:white;
  background-color: $gray;
}
.lesson-card a{
  color: #000000;
}
.lesson-card a:hover{
  color: #000000;
  text-decoration: none;
}
.card {
  overflow: hidden;
}
.card-user {
}
.card-name{
  text-align:left;
  padding:0 15px;
}
.card-category {
  padding:8px 16px;
  background: $gray;
  border-radius: 20px;
  color:white;
  text-align:right;
  margin-right: -15px;
}
.card-description {
  height:90px;
  text-align:left;
  margin: 20px 0;
  padding:0 15px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
}
.lesson-informationLabel{
  padding:0 15px;
}
.card-link {
}
.card-link:hover{
}
