.card{
  display:block;
  color: #000000;
  background: #ffffff;
  box-shadow: rgba(121, 121, 121, .35) 1px 10px 15px;
  text-decoration: none;
  margin:20px;
  padding:0;
  cursor: pointer;
  text-align:right;
}
.card:hover{
  box-shadow: none;
}
.show-lesson{
  padding: 15px 15px;
  margin-bottom:0;
  text-align:center;
}
.lesson-card:hover .show-lesson-cat-1{
  color:white;
  background-color: $cat1;
}
.lesson-card:hover .show-lesson-cat-2{
  color:white;
  background-color: $cat2;
}
.lesson-card:hover .show-lesson-cat-3{
  color:white;
  background-color: $cat3;
}
.lesson-card:hover .show-lesson-cat-4{
  color:white;
  background-color: $cat4;
}
.lesson-card:hover .show-lesson-cat-5{
  color:white;
  background-color: $cat5;
}
.lesson-card:hover .show-lesson-cat-6{
  color:white;
  background-color: $cat6;
}
.lesson-card:hover .show-lesson-cat-7{
  color:white;
  background-color: $cat7;
}
.lesson-card a{
  color: #000000;
}
.lesson-card a:hover{
  color: #000000;
  text-decoration: none;
}
.card-user {
}
.card-name{
  text-align:left;
  padding:0 15px;
}
.card-category {
  padding:8px 16px;
  border-radius: 20px;
  color:white;
  text-align:right;
  margin-right: -15px;
}
.card-description {
  height:90px;
  text-align:left;
  margin: 20px 0;
  padding:0 15px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
}
.lesson-informationLabel{
  padding:0 15px;
}
.card-link {
}
.card-link:hover{
}
