.lesson-card{
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  // box-shadow: rgba(121, 121, 121, .35) 1px 20px 30px;
  text-align:center;
  margin:19px;
  cursor: pointer;
  height: 300px;
  width: 30%;
  outline: 0;
}
.lesson-card a{
  color: #000000;
}
.lesson-card a:hover{
  color: #000000;
  text-decoration: none;
}
.card {
}
.card-user {
}
.card-category {
}
.card-description {
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
}
.card-link:hover{
}
